@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* 
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/ralewaye/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
} */

body{
  font-family: "Lato", sans-serif;
}

.font-bold {
  font-weight: bold;
}


.text-color{
  color: rgba(4, 152, 213) !important;
}

.header-bg{
  background-color: #000;
}

.bg{
  background-color: rgba(249, 250, 251);
}

.fw-bold-700{
  font-weight: 600 !important;
}

.btn-primary{
  border: none !important;
  background-color: rgba(4, 152, 213) !important;
}

.border-red{
  border: 2px solid red !important;
}
