@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* 
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/ralewaye/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
} */

body {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.urbanist-font {
  font-family: "Urbanist", sans-serif;
}

.font-bold {
  font-weight: bold;
}

.text-color {
  color: rgba(4, 152, 213) !important;
}

.header-bg {
  background-color: transparent;
}

.bg {
  background-color: rgba(249, 250, 251);
}

.btn-primary {
  border: none !important;
  background-color: rgba(4, 152, 213) !important;
}

.border-red {
  border: 2px solid red !important;
}

.color-grey {
  color: #56595a !important;
}

.color-orange {
  color: #ff6314 !important;
}

.grey-border {
  border-color: #dee2e6 !important;
}

.orange-border {
  border-color: #ff6314 !important;
}

.navbar-toggler-icon,
.white-icon {
  color: #fff !important;
}

.p-5 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.bg-color {
  background-color: #0d0e13 !important;
}

.h3-grey {
  color: #333;
}

.testimonial-bg {
  background-color: #ff6314;
}

.fa-brands {
  font-size: 30px;
}

.btn-5:hover {
  background-color: #ff6314 !important;
  color: #fff !important;
}

.btn-4:hover {
  background-color: #fff !important;
  color: #ff6314 !important;
}

.btn-3:hover {
  background-color: #ff6314 !important;
  color: #fff !important;
}

.btn-33:hover {
  background-color: #ff6314 !important;
  color: #fff !important;
  border: 1px solid transparent !important;
}

.sec-py {
  padding: 40px 0px;
}

.mw-500 {
  max-width: 400px;
}

